@using carRentals.Models

@{
    ViewData["Title"] = "Welcome Admin";
}
<header>
    <div class="buttonHolder">
        <a class="btn btn-pop center" asp-controller="carRental" asp-action="Add">Add New Car to Lot</a>
        <a class="btn btn-dflt center" asp-controller="carRental" asp-action="Success">Go Home</a>
        <a class="btn btn-dflt center" asp-controller="carRental" asp-action="Logout">Logout</a>
    </div>
</header>
<h2>Cars on Lot</h2>
<table>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Inventory</th>
    </tr>
    @foreach (var car in ViewBag.onlot)
        {
    <tr>
        <td>rental.car.make</td>
        <td>rental.car.model</td>
        <td>count<a asp-controller="carRental" asp-action="Plus">{+}</a><a asp-controller="carRental" asp-action="Minus">{-}</a></td>
    </tr>
        }
</table>
<h2>Currently Rented</h2>
<table>
    <tr>
        <th>Renter</th>
        <th>Make</th>
        <th>Model</th>
        <th>Date Due</th>
    </tr>
    @foreach (var car in ViewBag.currentlyrented)
        {
    <tr>
        <td><a asp-controller="carRental" asp-action="UserProf" asp-route-id="@user.user_id">rental.user.firstname</a></td>
        <td>rental.car.make</td>
        <td>rental.car.model</td>
        <td>rental.car.returndate</td>
    </tr>
        }
</table>