@model carRentals.Models.NewCarViewModel
@{
    ViewData["Title"] = "Add New Car Rental";
}
<header>
    <h1 id="underline">Create New Entry</h1>
    <div class="buttonHolder">
        <a class="btn btn-dflt center" asp-controller="carRentals" asp-action="userdash">Go Home</a>
        <a class="btn btn-dflt center" asp-controller="carRentals" asp-action="logout">Logout</a>
    </div>
</header>
<form asp-controller="carRentals" asp-action="addcar" method="post">
    @if (ViewBag.CarErrors != null)
    {
        <div class="notif eighty center" asp-validation-summary="All"></div>
    }
    <label class="forty" asp-for="make"></label>
	<input class="sixty" asp-for="make">
	<label class="forty" asp-for="carmodel"></label>
	<input class="sixty" asp-for="carmodel">
    <label class="forty" asp-for="inventory"></label>
	<input class="sixty" asp-for="inventory">
	<input class="btn btn-pop" type="submit" name="submit" value="Add Car">
</form>
